@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(180, 247, 180);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 95, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 95, 0);
    color: white;
}

h2 {
    color: rgb(60, 80, 60);
}

.basico {
    color: rgb(60, 80, 60);
    font-weight: bold;
}

.intermediario {
    color: rgb(139, 133, 36);
}

.avancado {
    color: rgb(139, 38, 38);;
}

.destaque {
    background-color: rgba(185, 185, 71, 0.493);
}